/* General ************************ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

img{
    width: 100%;
}

ul{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
    color: rgb(187, 186, 186);
    transition: color 0.4s;
}

a:hover{
    color: #000;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

/* Style btn */

a.btn{
    color: #000;
    font-weight: 600;
}
a.btn-dark{
    color: #fff;
}

.btn{
    padding:12px 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-left: 30px;
}

.btn-dark{
    background-color: #000;
}

/* Card style */
.card{
    width: calc(100% / 4 - 20px);
    display: flex;
    flex-direction: column;
    min-height: 265px;
}
.card a{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #96a0a8;
}


.card a:hover{
    color: #000;
}


/* Nav bar ***************************** */

header nav {
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

header nav  ul,
header nav div{
    display: flex;
    align-items:center;
}

/* Nav bar left ******** */

header nav .nav-left ul li{
    margin-right: 20px;
}


/* Nav bar right ********* */

header nav .nav-right ul li{
    margin-left: 35px;
    position: relative;
}

header nav .nav-right > ul > li:hover .dropdown-big{
    display: flex;
}

/* Dropdown *******************/
header nav .nav-right ul .dropdown-big{
    position: absolute;
    width: 800px;
    top: 100%;
    left: -200px;
    filter: drop-shadow(0 0 8px  rgba(34, 33, 33,0.1));
    background: #fff;
    padding: 20px 20px 50px 10px;
    display:none;
}

/* Effect text-up  */
.text-up{
    display: flex;
    position: relative;
    margin-top: 20px;
    color: #ccc;
}
.text-up h6{
    position: absolute;
    top: -10px;
    right: 12px;
    font-size: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(6, 102, 235);
}

.text-up h6.last{
    right: 50px;
}

.circle i {
    color: rgb(241, 240, 240);
    font-weight: 400px;
}

.logo-drop h4{
    color: rgb(160, 160, 160);
    text-transform: uppercase;
}

.logo-drop {
    margin-top: 20px;
    margin-bottom: 20px;
}

.circle{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 10px;
}

